body{
	/*margin: 0;*/
}

.icon{
	width: 200px;
	height: 200px;
}

#svg-weibo:hover #icon-weibo1{
	fill:orange;
}
#svg-weibo:hover #icon-weibo2{
	fill:red;
}
#svg-weibo:hover #icon-weibo3{
	fill:black;
}